<div class="ivet" [ngStyle]="{'height.px':innerHeight}">
    <app-play-register *ngIf='stage == -1 ' (register)='onRegister($event)' [fields]='anketa.user_data_fields'>
    </app-play-register>

    <div *ngIf='stage == 0' class="p-4 h-100 d-flex flex-column justify-content-between play-container" id="begin">
        <h1 class="text-center mt-5">{{anketa?.name[lang]}} </h1>
        <p class="text-center">{{anketa?.description[lang]}} </p>
        <button *ngIf='anketa' class="au-btn  btn-block mb-5"
            (click)='nextStage()'>{{languages.beginBtn[lang]}}</button>
    </div>

    <div *ngIf='stage == 1' class="p-4 h-100 d-flex flex-column justify-content-around hide play-container" id="play"
        style="max-width: 1200px; margin: auto;">
        <!-- <i (click)='changeLang()' class="fas fa-language lang-icon"></i> -->

        <!-- <ng-template [ngIf]='anketa.questions[questionNumber].open'>
            <div class="row h-100 w-100 " style="margin-left: 0;">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <h3 class="text-center" id="question">{{anketa.questions[questionNumber].question[lang]}}</h3>
                </div>
                <div *ngIf='questionImage'
                    class="col-lg-6 col-sm-12 h-50 d-flex justify-content-center align-items-center">

                    <img class="rounded mx-auto" [src]='questionImage' id="question-image">
                </div>
                <div [ngClass]="{'col-lg-6':questionImage}"
                    class=" col-sm-12 h-50 d-flex justify-content-center align-items-center flex-column">
                    <div class="form-group" style="width: 100%;">
                        <textarea name="" id="" cols="30" rows="10" class="form-control" #opentext
                            placeholder="Vaše odpověď..." [(ngModel)]='textarea_value'></textarea>
                    </div>
                    <button [ngClass]='bgClass' class="au-btn  btn-block" (click)='answer(opentext.value)'>Pokračovat
                    </button>
                </div>
            </div>
        </ng-template>

        <ng-template [ngIf]='!anketa.questions[questionNumber].open && anketa.type!=2'
            class="p-4 h-100 d-flex flex-column justify-content-around hide">

            <h3 class="text-center" id="question">{{anketa.questions[questionNumber].question[lang]}}</h3>
            <img *ngIf='questionImage' class="rounded mx-auto" [src]='questionImage'
                style="height: 200px; width : 200px" id="question-image">
            <button [ngClass]='bgBtn' class="au-btn  btn-block"
                (click)='answer(anketa.answers[0]?.value)'>{{anketa.answers[0]?.answer[lang]}} </button>
            <button [ngClass]='bgBtn' class="au-btn  btn-block"
                (click)='answer(anketa.answers[1]?.value)'>{{anketa.answers[1]?.answer[lang]}} </button>
            <button [ngClass]='bgBtn' class="au-btn  btn-block"
                (click)='answer(anketa.answers[2]?.value)'>{{anketa.answers[2]?.answer[lang]}} </button>
            <button [ngClass]='bgBtn' class="au-btn  btn-block"
                (click)='answer(anketa.answers[3]?.value)'>{{anketa.answers[3]?.answer[lang]}} </button>
            <button [ngClass]='bgBtn' class="au-btn  btn-block"
                (click)='answer(anketa.answers[4]?.value)'>{{anketa.answers[4]?.answer[lang]}} </button>
        </ng-template>

        <ng-template [ngIf]='!anketa.questions[questionNumber].open && anketa.type==2'>
            <div class="row h-100 w-100 " style="margin-left: 0;position: relative;">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <h3 class="text-center" id="question">{{anketa.questions[questionNumber].question[lang]}}</h3>
                </div>
                <div *ngIf='questionImage ' [ngClass]="{'other-background':other}"
                    class="col-lg-6 col-sm-12 h-50 d-flex justify-content-center align-items-center">

                    <img class="rounded mx-auto" [src]='questionImage' id="question-image">
                </div>
                <div [ngClass]="{'col-lg-6':questionImage,'other-background':other}"
                    class=" col-sm-12 h-50 d-flex justify-content-center align-items-center flex-column">
                    <button *ngFor='let ans of anketa.questions[questionNumber].answers' class="au-btn  btn-block"
                        (click)='answer(ans)'>{{ans}} </button>
                    <button *ngIf='anketa.questions[questionNumber].other_answer' class="au-btn  btn-block"
                        (click)='showOtherAnswer()'>Jiné (vlastní odpověď)</button>
                </div>
                <div class="col-lg-6 col-sm-12 other" *ngIf='other'>
                    <h4 class="text-center text-white mb-3">Jiné (vlastní odpověď)</h4>
                    <div class="form-group" style="width: 100%;">
                        <textarea name="" id="" cols="30" rows="10" class="form-control" #other
                            placeholder="Vaše odpověď..." [(ngModel)]='textarea_value'></textarea>
                    </div>
                    <button [ngClass]='bgClass' class="au-btn  btn-block" (click)='answer(other.value)'
                        style="background-color: rgb(23, 23, 26);">Pokračovat
                    </button>
                </div>
            </div>
        </ng-template> -->

        <app-play-question-single (questionAnswerd)='onQuestionAnswerd($event)' class="row h-100 w-100 "
            style="margin-left: 0;position: relative;" [question]='anketa.questions[questionNumber]'>
        </app-play-question-single>

    </div>
    <div [ngClass]='bgClass' class="anketa-progress-bar" id="progress-bar" [style.width.%]='progress_bar'></div>

    <div *ngIf='stage == 2' class="p-4 h-100 d-flex flex-column justify-content-center hide" id="finish">
        <h1 class="text-center">{{languages.endText[lang]}}</h1>
        <i class="fas fa-circle-notch survey-loading" style="color: #4ba82e;"></i>
    </div>
</div>