<div class="row mb-4">
    <div class="col-lg-12 " id="question0" [formGroup]='questionForm'>
        <div class="card shadow">
            <div class="card-header bg-primary">
                <i (click)='moveQuestion(true)' class="fas fa-arrow-up question-up"></i>
                <i (click)='moveQuestion(false)' class="fas fa-arrow-down question-down"></i>
                <i (click)='deleteQuestion()' class="fas fa-times question-delete"></i>
                <h5 class="text-white m-0">Otázka #{{index+1}}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <img class='img-fluid form-anketa-img' alt="" [src]='imageSrc'>
                    </div>
                    <div class="col-9">
                        <div class="form-group" formGroupName='question'>
                            <label class="form-control-label" for="name">Otázka
                            </label>
                            <input formControlName='cs' class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="name">Popis otázky
                            </label>
                            <input formControlName='description' class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="name">Obrázek otázky</label>
                            <input (change)='onFileChange($event)' class="form-control-file" type="file"
                                enctype="multipart/form-data" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>