

<table class="table table-striped table-sm">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">action</th>
          <th scope="col">date</th>
          <th scope="col">user</th>
          <th scope="col">ip</th>
          <th scope="col">city</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let log of logs'>
            <td>{{log._id}}</td>
            <td>{{log.action}}</td>
            <td>{{log.date | date :'hh:mm:ss dd/MM/yyyy'}}</td>
            <td>{{log.user.username}}</td>
            <td>{{log.ip}}</td>
            <td>{{log.city}}</td>
        </tr>
        
      </tbody>
</table>
