

<table class="table  table-sm">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">action</th>
          <th scope="col">object</th>
          <th scope="col">date</th>
          <th scope="col">user</th>
          <th scope="col">ip</th>
          <th scope="col">location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let log of logs'>
            <td>{{log._id}}</td>
            <td><i [ngClass]='actionIcon(log.action)'></i>{{log.action}}</td>
            <td>{{log?.survey}}</td>
            <td>{{log.date | date :'HH:mm:ss dd/MM/yy'}}</td>
            <td>{{log.user?.username}}</td>
            <td>{{log.ip}}</td>
            <td>{{log.city}}</td>
        </tr>
        
      </tbody>
</table>
