<div class="ivet">
    <app-play-register *ngIf='stage == -1' (cookie)='onRegister()'></app-play-register>

    <div *ngIf='stage == 0' class="p-4 min-vh-100 d-flex flex-column justify-content-between" id="begin">
        <h1 class="text-center mt-5">{{anketa?.name[lang]}} </h1>
        <p class="text-center">{{anketa?.description[lang]}} </p>
        <button *ngIf='anketa' class="au-btn au-btn--skoda btn-block mb-5" (click)='nextStage()'>Začít</button>
    </div>

    <div *ngIf='stage == 1' class="p-4 min-vh-100 d-flex flex-column justify-content-around hide" id="play">
        <i (click)='changeLang()' class="fas fa-language lang-icon"></i>
        <ng-template [ngIf]='anketa.questions[questionNumber].open' [ngIfElse]='closed'>
            <h3 class="text-center" id="question">{{anketa.questions[questionNumber].question[lang]}}</h3>
            <img class="rounded mx-auto" src="assets/images/avatar.png" style="height: 200px; width : 200px">
            <div class="form-group">
                <textarea name="" id="" cols="30" rows="10" class="form-control" #opentext placeholder="Vaše odpověď..."
                    [(ngModel)]='textarea_value'></textarea>
            </div>
            <button [ngClass]='bgClass' class="au-btn au-btn--skoda btn-block"
                (click)='answer(opentext.value)'>Pokračovat
            </button>
        </ng-template>

        <ng-template #closed>

            <h3 class="text-center" id="question">{{anketa.questions[questionNumber].question[lang]}}</h3>
            <img *ngIf='questionImage' class="rounded mx-auto" [src]='questionImage'
                style="height: 200px; width : 200px" id="question-image">
            <button class="au-btn au-btn--skoda btn-block"
                (click)='answer(anketa.answers[0].value)'>{{anketa.answers[0].answer[lang]}} </button>
            <button class="au-btn au-btn--skoda btn-block"
                (click)='answer(anketa.answers[1].value)'>{{anketa.answers[1].answer[lang]}} </button>
            <button class="au-btn au-btn--skoda btn-block"
                (click)='answer(anketa.answers[2].value)'>{{anketa.answers[2].answer[lang]}} </button>
            <button class="au-btn au-btn--skoda btn-block"
                (click)='answer(anketa.answers[3].value)'>{{anketa.answers[3].answer[lang]}} </button>
            <button class="au-btn au-btn--skoda btn-block"
                (click)='answer(anketa.answers[4].value)'>{{anketa.answers[4].answer[lang]}} </button>
        </ng-template>

    </div>
    <div [ngClass]='bgClass' class="anketa-progress-bar" id="progress-bar" [style.width.%]='progress_bar'></div>

    <div *ngIf='stage == 2' class="p-4 min-vh-100 d-flex flex-column justify-content-center hide" id="finish">
        <h1 class="text-center">Děkujeme za Váš čas</h1>
    </div>
</div>