@font-face {
  font-family: SkodaNext;
  src: url(../webfonts/SKODANext-Regular.woff2);
}

body {
  font-family: SkodaNext;
}

.header-wrap {
  justify-content: flex-end;
}

.navbar-sidebar .navbar__list li.active > a {
  color: #4ba82e;
}

.navbar-sidebar .navbar__list li a:hover {
  color: #4ba82e;
}

.au-btn--blue {
  background: #4ba82e;
}

.au-btn--skoda {
  background: #4ba82e;
}

.au-btn--skoda:hover {
  background: #398022;
}

.au-btn--secondary {
  background: #6c757d;
}

.au-btn--secondary:hover {
  background: #5a6268;
}

.au-btn--danger {
  background: #dc3545;
}

.au-btn--danger:hover {
  background: #c82333;
}

.au-btn {
  border-radius: 50px;
}

.bg-overlay--skoda {
  background: #4ba82e;
}

.ankta-date {
  position: relative;
  color: white;
  font-weight: 500;
}

.badge-success {
  background: #4ba82e;
}

.page-wrapper {
  padding-bottom: 0 !important;
}

.switch-skoda > .switch-input:checked ~ .switch-label {
  background: #4ba82e !important;
  border-color: #4ba82e;
}

.bg-overlay--secondary {
  background: #6c757d;
}

textarea {
  resize: none;
}

.table-data2.table tbody tr td:first-child {
  vertical-align: middle;
}

.tr-shadow:hover {
  cursor: pointer;
}

.table-data-feature .item i {
  font-size: 10px;
}

.min-vh-100 {
  min-height: 100vh;
}

.question-delete {
  color: white;
  position: absolute;
  right: 40px;
  z-index: 100;
  font-size: 28px;
}

.table tbody tr:first-child td {
  border-top: none;
}

.progress-td {
  width: 30%;
}

.progress {
  height: 24px;
}

.bg-skoda {
  background: #4ba82e;
}

.number-of-users {
  color: white;
  position: absolute;
  right: 40px;
  z-index: 100;
  font-size: 28px;
}

.number-of-users span {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-left: 10px;
}

@keyframes newAnketa {
  from {
    background-color: #4ba82e;
  }
  to {
    background-color: white;
  }
}

.new-anketa:last-child {
  animation: newAnketa 2s ease-in;
}

.header-desktop {
  z-index: 0;
}

.modal {
  background-color: rgba(60, 60, 60, 0.5);
}

.modal-content {
  border: none;
}

.show {
  display: block;
}

.anketa-progress-bar {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  background-color: #4ba82e;
  transition: width 0.6s ease;
}

#question-image {
  object-fit: cover;
}

.nav-tabs .nav-link.active {
  background-color: #4ba82e;
  color: #fff;
}

.nav-tabs .nav-link {
  border: none;
  background-color: #fff;
  border-right: 2px solid #e5e5e5;
}

#new-anketa-tab {
  border-radius: 0 10px 10px 10px;
}

#new-anketa-tab .bg-overlay {
  border-top-left-radius: 0;
}

.graph-color-1 {
  background-color: #d22630;
}

.graph-color-2 {
  background-color: #f4c385;
}

.graph-color-3 {
  background-color: #fff374;
}

.graph-color-4 {
  background-color: #bfdd92;
}

.graph-color-5 {
  background-color: #81c26d;
}

.progress-bar {
  /* min-width: 1px; */
  width: 0%;
  transition: width 500ms ease;
}

.lang-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
}

.form-anketa-img {
  object-fit: cover;
  object-position: center center;
}

.bg-menu {
  /* background-color: rgb(28, 33, 39); */
  background-color: rgb(23, 23, 26);
}

.menu-theme {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px 0 32px;
  border-radius: 4px;
}

.menu-theme:last-child {
  margin-bottom: 0 !important;
}

.menu-theme h4 {
  color: white;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
  /* min-height: -webkit-fill-available; */
}

.menu-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-logo {
  height: 180px;
  margin: 0 auto;
  margin-bottom: 16px;
  animation: appear 0.3s ease-in-out both;
  animation-delay: 300ms;
}

.menu-theme-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}

/* .bg-electrification {
  background-image: linear-gradient(45deg, #0fb6eb, #0d6bd4, #8bf0fa),
    url("../images/theme1.png");
} */
.bg-e-img {
  background-image: linear-gradient(
      45deg,
      rgba(15, 182, 235, 0.7),
      rgba(13, 107, 212, 0.7),
      rgba(139, 240, 250, 0.7)
    ),
    url("../images/theme1.png");
  background-size: cover;
  animation: appear 0.3s ease-in-out both;
  animation-delay: 100ms;
}

.bg-e-btn:active {
  background-image: linear-gradient(
    45deg,
    rgba(15, 182, 235, 0.7),
    rgba(13, 107, 212, 0.7),
    rgba(139, 240, 250, 0.7)
  );
}

.bg-e-btn:hover {
  background-color: rgb(34, 34, 40);
}

.bg-e {
  background: linear-gradient(
    45deg,
    rgba(15, 182, 235, 0.7),
    rgba(13, 107, 212, 0.7),
    rgba(139, 240, 250, 0.7)
  );
  box-shadow: 0px 2px 20px 0px rgba(13, 107, 212, 1);
}

.bg-ad-img {
  background-image: linear-gradient(
      45deg,
      rgba(255, 169, 0, 0.7),
      rgba(255, 84, 0, 0.7),
      rgba(255, 236, 112, 0.7)
    ),
    url("../images/theme2.png");
  background-size: cover;
  animation: appear 0.3s ease-in-out both;
  animation-delay: 150ms;
}

.bg-ad-btn:active {
  background-image: linear-gradient(
    45deg,
    rgba(255, 169, 0, 0.7),
    rgba(255, 84, 0, 0.7),
    rgba(255, 236, 112, 0.7)
  );
}

.bg-ad-btn:hover {
  background-color: rgb(34, 34, 40);
}

.bg-ad {
  background: linear-gradient(
    45deg,
    rgba(255, 169, 0, 0.7),
    rgba(255, 84, 0, 0.7),
    rgba(255, 236, 112, 0.7)
  );
  box-shadow: 0px 2px 20px 0px rgba(255, 84, 0, 1);
}

.bg-ce-img {
  background-image: linear-gradient(
      45deg,
      rgba(87, 38, 207, 0.7),
      rgba(127, 0, 207, 0.7),
      rgba(119, 147, 237, 0.7)
    ),
    url("../images/theme3.png");
  background-size: cover;
  animation: appear 0.3s ease-in-out both;
  animation-delay: 200ms;
}

.bg-ce-btn:active {
  background: linear-gradient(
    45deg,
    rgba(87, 38, 207, 0.7),
    rgba(127, 0, 207, 0.7),
    rgba(119, 147, 237, 0.7)
  );
}

.bg-ce-btn:hover {
  background-color: rgb(34, 34, 40);
}

.bg-ce {
  background: linear-gradient(
    45deg,
    rgba(87, 38, 207, 0.7),
    rgba(127, 0, 207, 0.7),
    rgba(119, 147, 237, 0.7)
  );
  box-shadow: 0px 2px 20px 0px rgba(126, 0, 84, 1);
}

.bg-ve-img {
  background-image: linear-gradient(
      45deg,
      rgba(183, 18, 32, 0.7),
      rgba(126, 0, 83, 0.7),
      rgba(248, 55, 0, 0.7)
    ),
    url("../images/theme4.png");
  background-size: cover;
  animation: appear 0.3s ease-in-out both;
  animation-delay: 250ms;
}

.bg-ve-btn:active {
  background-image: linear-gradient(
    45deg,
    rgba(183, 18, 32, 0.7),
    rgba(126, 0, 83, 0.7),
    rgba(248, 55, 0, 0.7)
  );
}

.bg-ve-btn:hover {
  background-color: rgb(34, 34, 40);
}

.bg-ve {
  background: linear-gradient(
    45deg,
    rgba(183, 18, 32, 0.7),
    rgba(126, 0, 83, 0.7),
    rgba(248, 55, 0, 0.7)
  );
  box-shadow: 0px 2px 20px 0px rgba(126, 0, 83, 1);
}

.bg-es-img {
  background-image: linear-gradient(
      45deg,
      rgba(67, 176, 42, 0.7),
      rgba(0, 88, 48, 0.7),
      rgba(133, 217, 55, 0.7)
    ),
    url("../images/theme5.png");
  background-size: cover;
  animation: appear 0.3s ease-in-out both;
  animation-delay: 300ms;
}

.bg-es-btn:active {
  background-image: linear-gradient(
    45deg,
    rgba(67, 176, 42, 0.7),
    rgba(0, 88, 48, 0.7),
    rgba(133, 217, 55, 0.7)
  );
}

.bg-es-btn:hover {
  background-color: rgb(34, 34, 40);
}

.bg-es {
  background: linear-gradient(
    45deg,
    rgba(67, 176, 42, 0.7),
    rgba(0, 88, 48, 0.7),
    rgba(133, 217, 55, 0.7)
  );
  box-shadow: 0px 2px 20px 0px rgba(0, 88, 48, 1);
}

.bg-vd-img {
  background-image: linear-gradient(
      45deg,
      rgba(124, 120, 131, 0.7),
      rgba(74, 77, 84, 0.7),
      rgba(214, 207, 216, 0.7)
    ),
    url("../images/theme6.png");
  background-size: cover;
  animation: appear 0.3s ease-in-out both;
  animation-delay: 350ms;
}

.bg-vd-btn:active {
  background-image: linear-gradient(
    45deg,
    rgba(124, 120, 131, 0.7),
    rgba(74, 77, 84, 0.7),
    rgba(214, 207, 216, 0.7)
  );
}

.bg-vd-btn:hover {
  background-color: rgb(34, 34, 40);
}

.bg-vd {
  background: linear-gradient(
    45deg,
    rgba(124, 120, 131, 0.7),
    rgba(74, 77, 84, 0.7),
    rgba(214, 207, 216, 0.7)
  );
  box-shadow: 0px 2px 20px 0px rgba(74, 77, 84, 1);
}

@media only screen and (min-width: 600px) {
  .menu-theme {
    width: 49%;
  }
}

.ivet {
  color: white !important;
  /* background-color: rgb(28, 33, 39); */
  background-color: rgb(23, 23, 26);
}

.ivet h1,
h3 {
  color: white;
}

.menu-survey-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-back {
  color: white;
  font-size: 36px;
}

.menu-back-container {
  width: 100%;
  padding-left: 32px;
}

.ivet button {
  background-color: rgb(43, 48, 56);
  background-color: rgb(34, 34, 40);
}
