<div class="row mb-4">
    <div class="col-6">
        <div class="card shadow">
            <div class="card-header bg-primary">
                <h5 class="text-white m-0">Uživatelská data</h5>
            </div>
            <div class="card-body" [formGroup]='userDataForm'>
                <div class="form-group" formArrayName='fields'>
                    <label for="">Název</label>
                    <br>
                    <div *ngFor='let field of fields.controls; let i=index' class="mb-3">
                        <input [formControlName]='i' type="text" class="form-control w-75 d-inline">
                        <i (click)='addField()' class="fas fa-plus user-data-icon"></i>
                        <i (click)='removeField(i)' class="fas fa-minus "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>