<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title-1 m-b-25">Anketa</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 m-b-40">
            <div class="au-card au-card--no-pad">
                <div class="au-card-title">
                    <div class="bg-overlay bg-overlay--skoda"></div>
                    <i class="fas fa-users number-of-users"><span>{{this.results?.length}}</span></i>
                    <h3>{{this.anketa?.name.cs}} </h3>
                </div>
                <div class="au-card-inner p-5">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor='let question of this.anketa?.questions; let i=index'>
                                        <td>{{question.question.cs}}</td>
                                        <td class="progress-td">

                                            <ng-template [ngIf]='!this.anketa.questions[i].open' [ngIfElse]='closed'>
                                                <div class="progress">
                                                    <div [style.width]="getBarWidth(i,4)"
                                                        class="progress-bar graph-color-1" aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                    <div [style.width]="getBarWidth(i,3)"
                                                        class="progress-bar  graph-color-2" aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                    <div [style.width]="getBarWidth(i,2)"
                                                        class="progress-bar  graph-color-3" aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                    <div [style.width]="getBarWidth(i,1)"
                                                        class="progress-bar  graph-color-4" aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                    <div [style.width]="getBarWidth(i,0)"
                                                        class="progress-bar graph-color-5" aria-valuenow="25"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>

                                            </ng-template>

                                            <ng-template #closed>
                                                <div class="progress justify-content-center align-items-center">
                                                    <p class="text-center">Otevřená otázka</p>
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex align-items-stretch m-b-40">
            <div class="au-card au-card--no-pad w-100 d-flex justify-content-center align-items-center">
                <div class="au-card-inner p-4">
                    <div class="row">
                        <img class="m-auto w-100" [src]='anketa_qr'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 m-b-40">
            <div class="au-card au-card--no-pad">
                <div class="au-card-inner p-5">
                    <div class="row">
                        <canvas id="bar"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 m-b-40">
            <div class="au-card au-card--no-pad">

                <div class="au-card-inner p-5">
                    <div class="row">
                        <canvas id="radar"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf='results'>
        <div class="col-12">
            <h2 class="title-1 m-b-25 m-t-25">Otázky</h2>
        </div>
        <app-question [question]=anketa.questions[i] [results]=results [index]=i
            *ngFor='let question of anketa?.questions;let i = index' class="col-lg-6"></app-question>
    </div>
</div>
<script src="node_modules/chart.js/src/chart.js"></script>