<div class="row">
    <div class="col-12">
        <button type="button" name="button" class="btn btn-primary mb-2 " (click)='toggleCreateModal()'><i
                class="zmdi zmdi-plus"></i>Přidat novou anketu</button>
        <div class="btn-group mb-2 float-right">
            <button (click)='grid = true' class="btn btn-outline-secondary"><i [class.text-primary]='grid'
                    class="fas fa-th-large "></i></button>
            <button (click)='grid = false' class="btn btn-outline-secondary"><i [class.text-primary]='!grid'
                    class="fas fa-bars"></i></button>
        </div>
    </div>
</div>
<hr class="mb-4">
<div *ngIf='grid' class="row">
    <div class="col-lg-6 mb-4" *ngFor='let anketa of ankety'>
        <div class="card shadow">
            <div class="card-header ">
                <h5 class=" m-0 d-inline font-weight-bold">{{anketa.name.cs}}</h5>
                <i (click)='setAnketa(anketa._id)' class="fas fa-trash float-right text-danger mt-1"></i>
                <i (click)='editAnketa(anketa._id, anketa.type)' class="fas fa-edit mr-3 float-right mt-1"></i>
                <i (click)='playAnketa(anketa._id)' class="fas fa-play mr-3 float-right text-primary mt-1"></i>
            </div>
            <div class="card-body" (click)='showAnketaDetail(anketa._id)' style="cursor: pointer;">

                <table class="table">
                    <thead>
                        <tr>
                            <th class=" border-top-0 pl-0">Datum</th>
                            <th class="text-right border-top-0">Počet otázek</th>
                            <th class="text-right border-top-0 pr-0">Vyplněné</th>
                        </tr>
                    </thead>
                    <!-- <tbody *ngFor='let anketa of ankety' skipLocationChange [routerLink]='anketa._id'> -->
                    <tbody [ngClass]="{'new-anketa': isAdded}">
                        <tr class="tr-shadow ">
                            <td class="border-bottom-0 pl-0">{{anketa.created | date:'dd.MM.yyyy'}}</td>
                            <td class="border-bottom-0 text-right">{{anketa.questions.length}}</td>
                            <td class="border-bottom-0 text-right pr-0">{{anketa.result_count}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf='!grid' class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <table class="table m-0">
                    <thead>
                        <th class="border-top-0">Název</th>
                        <th class="border-top-0 text-center">Datum</th>
                        <th class="border-top-0 text-right">Počet otázek</th>
                        <th class="border-top-0 text-right">Vyplněné</th>
                        <th class="border-top-0 text-center">Akce</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let anketa of ankety'>
                            <td (click)='showAnketaDetail(anketa._id)' class="border-bottom-0" style="cursor: pointer;">
                                {{anketa.name.cs}}</td>
                            <td class="text-center border-bottom-0">{{anketa.created | date:'dd.MM.yyyy'}}</td>
                            <td class="text-right border-bottom-0">{{anketa.questions.length}}</td>
                            <td class="text-right border-bottom-0">{{anketa.result_count}}</td>
                            <td class="text-center border-bottom-0">
                                <i (click)='playAnketa(anketa._id)' class="fas fa-play  text-primary mt-1"></i>
                                <i (click)='editAnketa(anketa._id, anketa.type)' class="fas fa-edit ml-3  mt-1"></i>
                                <i (click)='setAnketa(anketa._id)' class="fas fa-trash   ml-3 text-danger mt-1"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div [ngClass]="{'show' : deleteModal}" class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Opravdu chcete odstranit anketu ?</h5>
                <button (click)='toggleDeleteModal()' type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button (click)='toggleDeleteModal()' type="button" class="btn btn-secondary"
                    data-dismiss="modal">Zrušit</button>
                <button (click)='deleteAnketa()' type="button" class="btn btn-danger">Odstranit</button>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'show' : createModal}" class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="mediumModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Vytvořit novou anketu</h5>
                <button (click)='toggleCreateModal()' type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="text-dark text-center">Stejné odpovědi</h3>
                        <img src="../../assets/images/survey.svg" alt="" style="padding: 50px; width: 100%;">
                        <p class="text-center">Každá otázka má stejné odpovědi (otázky lze
                            porovnávat mezi sebou)</p>
                        <div class="d-flex justify-content-center mt-3 mb-4">
                            <button routerLink='../create' type="button" class="btn btn-primary m-auto">Vytvořit
                                anketu</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <h3 class="text-dark text-center">Vlastní odpovědi</h3>
                        <img src="../../assets/images/survey.svg" alt="" style="padding: 50px; width: 100%;">
                        <p class="text-center" style="min-height: 52px;">Každá otázka má vlastní odpovědi</p>
                        <div class="d-flex justify-content-center mt-3 mb-4">
                            <button routerLink='../create2' type="button" class="btn btn-primary m-auto">Vytvořit
                                anketu</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>