<div class="au-card au-card--no-pad m-b-40">
    <div class="au-card-title">
        <div class="bg-overlay bg-overlay--skoda"></div>
        <h3> {{question.cs}}</h3>
    </div>
    <div *ngIf='question.open'></div>
    <ng-template [ngIf]='question.open' [ngIfElse]='closed'>
        <div class="au-card-inner p-5" style="max-height: 200px;overflow: auto;">
            <div class="row">
                <div class="au-card mb-5">
                    <p>Tohle je moje velmi velmi velmi velmi dlouha a rozsahla odpoved</p>
                </div>
                <div class="au-card mb-5">
                    <p>Tohle je moje velmi velmi velmi velmi dlouha a rozsahla odpoved</p>
                </div>
                <div class="au-card mb-5">
                    <p>Tohle je moje velmi velmi velmi velmi dlouha a rozsahla odpoved</p>
                </div>
                <div class="au-card mb-5">
                    <p>Tohle je moje velmi velmi velmi velmi dlouha a rozsahla odpoved</p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #closed>
        <div class="au-card-inner p-5">
            <div class="row">
                <canvas id='chart'></canvas>
            </div>
        </div>
    </ng-template>
</div>