<div class="au-card au-card--no-pad m-b-40">
    <div class="au-card-title">
        <div class="bg-overlay bg-overlay--skoda"></div>
        <h3> {{question.cs}}</h3>
    </div>
    <div *ngIf='question.open'></div>
    <ng-template [ngIf]='question.open' [ngIfElse]='closed'>
        <div class="au-card-inner p-3" style="max-height: 300px;overflow: auto;">
                <div *ngFor='let answer of questionAnswers; let i=index' class="au-card mb-3">
                    {{answer}}
                </div>
        </div>
    </ng-template>

    <ng-template #closed>
        <div class="au-card-inner p-5">
            <div class="row">
                <canvas *ngIf='results' baseChart [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </ng-template>
    <script src="node_modules/chart.js/src/chart.js"></script>
</div>