<div *ngIf='!alertClosed' id='usernameAlert' class="alert alert-success">
    Uživatelské jméno bylo změněno
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="form-group">
                    <label for="">Změnit uživatelské jméno</label>
                    <input [(ngModel)]='username' type="text" class="form-control">
                </div>
                <button (click)='changeUsername()' class="btn btn-primary" type="button">Změnit</button>
            </div>
        </div>
    </div>
</div>