<div class="col-12 h-100 w-100 p-0 d-flex flex-column">
    <h3 id="question" class="mt-5 text-dark font-weight-bold">{{question.question['cs']}}</h3>
    <p class="mb-3">{{question.description}}</p>

    <div class="play-img-sm d-flex justify-content-center align-items-center mb-3">
        <img src="{{questionImg}}" alt="" class="question-img">
    </div>
    <div class="d-flex justify-content-between">
        <span class="text-dark"
            *ngFor='let item of [].constructor(question.scale_end+(question.scale_start+1)%2); let i = index'>{{i+question.scale_start}}</span>
    </div>
    <input [(ngModel)]='scaleAnswer' class='form-range w-100 play-range' name="" id="" type='range'
        min="{{question.scale_start}}" max={{question.scale_end}} step='1' value="{{question.scale_end/2}}">
    <button (click)='answer()' class="btn btn-primary mb-5 mt-auto align-self-end btn-round btn-lg">Pokračovat</button>

</div>