<div class="col-12 h-100 w-100 p-0 d-flex flex-column ">
    <h3 id="question" class="mt-5 text-dark font-weight-bold">{{question.question[lang]}}</h3>
    <p class="mb-3">{{question.description}}</p>
    <!-- <div *ngIf='question.img ' class="col-lg-6 col-sm-12 h-50 d-flex justify-content-center align-items-center">

        <img class="rounded mx-auto" [src]='questionImg' id="question-image">
    </div> -->

    <!-- <button *ngFor='let ans of question.answers' class="au-btn  btn-block au-btn--skoda" (click)='answer(ans)'>{{ans}}
    </button> -->

    <!-- <div class="form-check" *ngFor='let ans of question.answers'>
        <input class="form-check-input" type="radio" name="radios" id="{{ans}}">
        <label class="form-check-label" for="{{ans}}">
            {{ans}}
        </label>
    </div> -->

    <div class="play-img-sm d-flex justify-content-center align-items-center mb-3">
        <img src="{{questionImg}}" alt="" class="question-img">
    </div>


    <div class="mb-3">
        <ng-template [ngIf]='question.limit == 1'>
            <ng-container *ngFor='let ans of question.answers; let i = index'>
                <div *ngIf='ivetMode(i)' (click)='select(i%(question.answers.length/2))' class="play-answer-container">
                    <div class="play-radio-container">
                        <div *ngIf='selected.includes(i%(question.answers.length/2))' class="play-radio"></div>
                    </div>
                    <span class="play-answer text-dark">{{ans}}</span>
                </div>
            </ng-container>
        </ng-template>

        <ng-template [ngIf]='question.limit > 1'>
            <div (click)='select(i)' class="play-answer-container" *ngFor='let ans of question.answers; let i = index'>
                <div class="play-check-container">
                    <div *ngIf='selected.includes(i)' class="fas fa-check" style="color: #4ba82e;"></div>
                </div>
                <span class="play-answer text-dark">{{ans}}</span>
            </div>
        </ng-template>

        <div (click)='select(question.answers.length)' *ngIf='question.other_answer && question.limit == 1'
            class="play-answer-container">
            <div class="play-radio-container">
                <div *ngIf='selected.includes(question.answers.length)' class="play-radio"></div>
            </div>
            <input (change)='otherChange()' [(ngModel)]='other' type="text" class="play-other-input" placeholder="Jiné">
        </div>

        <div (click)='select(question.answers.length)' *ngIf='question.other_answer && question.limit > 1'
            class="play-answer-container">
            <div class="play-check-container">
                <div *ngIf='selected.includes(question.answers.length)' class="fas fa-check" style="color: #4ba82e;">
                </div>
            </div>
            <input (change)='otherChange()' [(ngModel)]='other' type="text" class="play-other-input" placeholder="Jiné">
        </div>

    </div>

    <button [disabled]='question.required && !answerSelected' (click)='answer()'
        class="btn btn-primary mb-5 btn-round btn-lg mt-auto align-self-end">{{lang == 'cs' ?'Pokračovat':
        'Continue'}}</button>
</div>