<div class="bg-menu p-2 min-vh-100 menu-container" id="begin">
    <div class="menu-logo-container">
        <img src="/assets/images/ivet_logo.png" alt="" class="menu-logo">
    </div>
    <div class="menu-theme-container">
        <div class="menu-theme bg-electrification mb-2">
            <h4>Electrification</h4>
        </div>
        <div class="menu-theme bg-automated-driving mb-2">
            <h4>Automated Driving</h4>
        </div>
        <div class="menu-theme bg-connectivity mb-2">
            <h4>Connectivity & Ecosystem</h4>
        </div>
        <div class="menu-theme bg-vehicle-experience mb-2">
            <h4>Vehicle experience</h4>
        </div>
        <div class="menu-theme bg-environment mb-2">
            <h4>Environment & Sustainability</h4>
        </div>
        <div class="menu-theme bg-virtual mb-2">
            <h4>Virtual Development</h4>
        </div>
    </div>
</div>