<form [formGroup]='surveyForm' (ngSubmit)='submitSurvey()'>
    <div class="row mb-4">
        <div class="col-lg-6 m-b-40">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h5 class="text-white m-0">Nová anketa</h5>
                </div>
                <div class="card-body">
                    <div class="form-group" formGroupName='name'>
                        <label class="form-control-label" for="name">Název ankety</label>
                        <input formControlName='cs' class="form-control" type="text" placeholder="" />
                    </div>

                    <div class="form-group" formGroupName='description'>
                        <label class="form-control-label" for="name">Popis ankety</label>
                        <textarea formControlName='cs' class="form-control" rows="3" cols="80"></textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow h-100">
                <div class="card-header bg-primary">
                    <h5 class="text-white m-0">Možnosti</h5>
                </div>
                <div class="card-body">
                    <div class="form-check">
                        <input formControlName='random_order' class="form-check-input" type="checkbox" />
                        <label for="" class="form-check-label">Náhodné pořadí otázek</label>
                    </div>
                    <div class="form-check">
                        <input formControlName='user_data' class="form-check-input" type="checkbox" />
                        <label for="" class="form-check-label">Přidat identifikaci</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-form-user-data [userData]='this.editSurvey?.user_data_fields
    ' (newFieldEvent)='onNewFieldEvent($event)' *ngIf='surveyForm.value.user_data'>
    </app-form-user-data>


    <!-- QUESTIONS -->
    <div formArrayName='questions'>
        <ng-container *ngFor='let question of questionForms.controls; let i=index'>
            <app-form-question-single *ngIf='question.value.type == "single"' [index]='i'
                (imageChange)='onImageChange($event)' (questionDelete)='onQuestionDelete($event)'
                [surveyForm]='surveyForm' (questionMove)='onQuestionMove($event)' [imagePreviews]='imagePreviews'>
            </app-form-question-single>
            <app-form-question-open *ngIf='question.value.type == "open"' [index]='i'
                (imageChange)='onImageChange($event)' (questionDelete)='onQuestionDelete($event)'
                [surveyForm]='surveyForm' (questionMove)='onQuestionMove($event)' [imagePreviews]='imagePreviews'>
            </app-form-question-open>
            <app-form-question-scale *ngIf='question.value.type == "scale"' [index]='i'
                (imageChange)='onImageChange($event)' (questionDelete)='onQuestionDelete($event)'
                [surveyForm]='surveyForm' (questionMove)='onQuestionMove($event)' [imagePreviews]='imagePreviews'>
            </app-form-question-scale>
        </ng-container>
    </div>

    <button (click)='questionModal = true' class="btn btn-secondary btn-block mb-4" type="button">Přidat otázku</button>
    <button *ngIf='!editMode' class="btn btn-primary btn-block" type="submit">Vytvořit anketu</button>
    <button *ngIf='editMode' class="btn btn-primary btn-block" type="submit">Upravit anketu</button>
</form>

<div [ngClass]="{'show' : resultsExists}" class="modal fade " tabindex="-1" role="dialog"
    aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark font-weight-bold" id="mediumModalLabel">Existující výsledky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)='resultsExists = false' aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>Upravovanou anketu již vyplnilo {{editSurvey?.result_count}} lidí. Jak chcete
                            pokračovat?
                        </p>
                        <small class="mb-5">Ponechání výsledků může poškodit jejich správnost</small>
                        <div class="d-flex justify-content-end">
                            <button (click)='postEditSurvey(false)' class="btn btn-secondary mr-3">Ponechat
                                výsledky</button>
                            <button (click)='postEditSurvey(true)' class="btn btn-danger ">Smazat
                                výsledky</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div [ngClass]="{'show' : questionModal}" class="modal fade " tabindex="-1" role="dialog"
    aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark font-weight-bold" id="mediumModalLabel">Přidat otázku</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)='questionModal = false' aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div (click)='addQuestion("single")' class="card shadow add-question">
                            <div class="card-body">
                                <i class="fas fa-list-ul mr-3 mb-2"></i>
                                <h5 class="d-inline font-weight-bold">Výběr z možností</h5>
                                <br>
                                <span>Výběr z jedné nebo více odpovědí</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div (click)='addQuestion("open")' class="card shadow add-question">
                            <div class="card-body">
                                <i class="fas fa-comment mr-3 mb-2"></i>
                                <h5 class="d-inline font-weight-bold">Otevřená otázka</h5>
                                <br>
                                <span>Textová odpověď</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div (click)='addQuestion("scale")' class="card shadow add-question">
                            <div class="card-body">
                                <i class="fas fa-sliders-h mr-3 mb-2"></i>
                                <h5 class="d-inline font-weight-bold">Škála</h5>
                                <br>
                                <span>Změřte názor pomocí číselné stupnice</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>