<form [formGroup]='surveyForm' (ngSubmit)='submitSurvey()'>
    <div class="row">
        <div class="col-lg-6 m-b-40">
            <div class="au-card au-card--no-pad">
                <div class="au-card-title">
                    <h3>Nová anketa</h3>
                    <div class="bg-overlay bg-overlay--skoda"></div>
                </div>
                <div class="card-body">
                    <!-- <h3 class="title-2">Nová anketa</h3> -->

                    <div class="form-group" formGroupName='name'>
                        <label class="form-control-label" for="name">Název ankety</label>
                        <input formControlName='cs' class="form-control" type="text" placeholder="" />
                    </div>


                    <div class="form-group" formGroupName='description'>
                        <label class="form-control-label" for="name">Popis ankety</label>
                        <textarea formControlName='cs' class="form-control" rows="3" cols="80"></textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 m-b-40">
            <div class="au-card au-card--no-pad">
                <div class="au-card-title">
                    <h3>Možnosti</h3>
                    <div class="bg-overlay bg-overlay--skoda"></div>
                </div>
                <div class="card-body">
                    <label class="switch switch-3d switch-skoda mr-3">
                        <input formControlName='random_order' class="switch-input" type="checkbox" /><span
                            class="switch-label"></span><span class="switch-handle"></span>
                    </label><span>Náhodné pořadí otázek</span><br />
                    <label class="switch switch-3d switch-skoda mr-3">
                        <input formControlName='user_data' class="switch-input" type="checkbox" /><span
                            class="switch-label"></span><span class="switch-handle"></span>
                    </label><span>Přidat identifikaci</span><br />
                </div>
            </div>
        </div>

        <app-form-user-data (newFieldEvent)='onNewFieldEvent($event)' *ngIf='surveyForm.value.user_data'
            class="col-lg-6 m-b-40"></app-form-user-data>
    </div>


    <!-- QUESTIONS -->
    <div formArrayName='questions'>
        <!-- <div *ngFor='let question of questionForms.controls; let i=index' [formGroupName]='i' class="row">
            <div class="col-lg-12 m-b-40" id="question0">
                <div class="au-card au-card--no-pad">
                    <div class="au-card-title">
                        <i class="fas fa-times question-delete" (click)='deleteQuestion(i)'></i>
                        <h3>Otázka #{{i+1}} </h3>
                        <div class="bg-overlay bg-overlay--skoda"></div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img class='img-fluid form-anketa-img' [src]="getImageSrc(i)" alt="">
                            </div>
                            <div class="col-9">

                                <label class="switch switch-3d switch-skoda mr-3">
                                    <input formControlName='open' class="switch-input" type="checkbox" /><span
                                        class="switch-label"></span><span class="switch-handle"></span>
                                </label><span>Otevřená otázka</span><br />

                                <label class="switch switch-3d switch-skoda mr-3">
                                    <input formControlName='other_answer' class="switch-input" type="checkbox" /><span
                                        class="switch-label"></span><span class="switch-handle"></span>
                                </label><span>Přidat odpověď 'Jiné (vlastní odpověď)'</span><br />

                                <div class="form-group" formGroupName='question'>
                                    <label class="form-control-label" for="name">Otázka
                                    </label>
                                    <input formControlName='cs' class="form-control" type="text" />
                                </div>
                                <div class="form-group" formArrayName='answers'
                                    *ngIf='!surveyForm.value.questions[i].open'>
                                    <label for="" class="form-control-label">Odpovědi</label>
                                    <div *ngFor='let ix of questionAnswersForms(i).controls; let j=index'>
                                        <input type="text" class="form-control mb-3 w-75 d-inline mr-2"
                                            [formControlName]=j>
                                        <button type="button" (click)='addAnswer(i,j)' class="au-btn au-btn--skoda mr-2"
                                            style="padding: 0 15px;"><i class="fas fa-plus "></i></button>
                                        <button type="button" (click)='deleteAnswer(i,j)'
                                            class="au-btn au-btn--secondary" style="padding: 0 15px;"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="name">Obrázek otázky</label>
                                    <input class="form-control-file" type="file" enctype="multipart/form-data"
                                        (change)='onFileChange($event, i)' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <ng-container *ngFor='let question of questionForms.controls; let i=index'>
            <app-question-single [index]='i' (questionChange)='onQuestionChange($event)'
                (imageChange)='onImageChange($event)'></app-question-single>
        </ng-container>
    </div>

    <button (click)='addQuestion()' class="au-btn au-btn-icon btn-block au-btn--secondary m-b-10" type="button"><i
            class="zmdi zmdi-plus"></i>Přidat otázku</button>
    <button *ngIf='!editMode' class="au-btn au-btn--skoda btn-block m-b-40" type="submit">Vytvořit anketu</button>
    <button *ngIf='editMode' class="au-btn au-btn--skoda btn-block m-b-40" type="submit">Upravit anketu</button>
</form>