<form [formGroup]='surveyForm' (ngSubmit)='submitSurvey()'>
    <div class="row">
        <div class="col-lg-6 m-b-40">
            <div class="au-card au-card--no-pad">
                <div class="au-card-title">
                    <h3>Nová anketa</h3>
                    <div class="bg-overlay bg-overlay--skoda"></div>
                </div>
                <div class="card-body">
                    <!-- <h3 class="title-2">Nová anketa</h3> -->

                    <div class="form-group" formGroupName='name'>
                        <label class="form-control-label" for="name">Název ankety</label>
                        <input formControlName='cs' class="form-control" type="text" placeholder="" />
                    </div>


                    <div class="form-group" formGroupName='description'>
                        <label class="form-control-label" for="name">Popis ankety</label>
                        <textarea formControlName='cs' class="form-control" rows="3" cols="80"></textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 m-b-40">
            <div class="au-card au-card--no-pad">
                <div class="au-card-title">
                    <h3>Možnosti</h3>
                    <div class="bg-overlay bg-overlay--skoda"></div>
                </div>
                <div class="card-body">
                    <label class="switch switch-3d switch-skoda mr-3">
                        <input formControlName='random_order' class="switch-input" type="checkbox" /><span
                            class="switch-label"></span><span class="switch-handle"></span>
                    </label><span>Náhodné pořadí otázek</span><br />
                    <label class="switch switch-3d switch-skoda mr-3">
                        <input formControlName='user_data' class="switch-input" type="checkbox" /><span
                            class="switch-label"></span><span class="switch-handle"></span>
                    </label><span>Přidat identifikaci</span><br />
                </div>
            </div>
        </div>

        <app-form-user-data [userData]='this.editSurvey?.user_data_fields
        ' (newFieldEvent)='onNewFieldEvent($event)' *ngIf='surveyForm.value.user_data' class="col-lg-6 m-b-40">
        </app-form-user-data>
    </div>


    <!-- QUESTIONS -->
    <div formArrayName='questions'>
        <ng-container *ngFor='let question of questionForms.controls; let i=index'>
            <app-form-question-single *ngIf='question.value.type == "single"' [index]='i'
                (questionChange)='onQuestionChange($event)' (imageChange)='onImageChange($event)'
                (questionDelete)='onQuestionDelete($event)' [question]='this.editSurvey?.questions[i]'>
            </app-form-question-single>
            <app-form-question-open *ngIf='question.value.type == "open"' [index]='i'
                (questionChange)='onQuestionChange($event)' (imageChange)='onImageChange($event)'
                (questionDelete)='onQuestionDelete($event)' [question]='this.editSurvey?.questions[i]'>
            </app-form-question-open>
        </ng-container>
    </div>
    <div class="row">
        <div class="col">
            <div class="au-card au-card--no-pad">
                <div class="card-body">
                    <button (click)='addQuestion("single")' class="au-btn au-btn-icon au-btn--secondary mr-3"
                        type="button"><i class="zmdi zmdi-plus"></i>Přidat volbu</button>
                    <button (click)='addQuestion("open")' class="au-btn au-btn-icon au-btn--secondary" type="button"><i
                            class="zmdi zmdi-plus"></i>Přidat text</button>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf='!editMode' class="au-btn au-btn--skoda btn-block m-b-40 mt-4" type="submit">Vytvořit anketu</button>
    <button *ngIf='editMode' class="au-btn au-btn--skoda btn-block m-b-40 mt-4" type="submit">Upravit anketu</button>
</form>

<div [ngClass]="{'show' : resultsExists}" class="modal fade " tabindex="-1" role="dialog"
    aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Existující výsledky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span (click)='resultsExists = false' aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>Upravovanou anketu již vyplnilo {{editSurvey?.result_count}} lidí. Jak chcete
                            pokračovat?
                        </p>
                        <small class="mb-5">Ponechání výsledků může poškodit jejich správnost</small>
                        <div class="d-flex justify-content-end">
                            <button (click)='postEditSurvey(false)' class="au-btn au-btn--skoda ">Ponechat
                                výsledky</button>
                            <button (click)='postEditSurvey(true)' class="au-btn au-btn--skoda ">Smazat
                                výsledky</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>